#header {
    border-bottom: solid 1px #ccc;
    font-family: Courier, serif;
    margin: 5px;
}

#header_title {
    margin-left: 50px;
}

.button {
    margin-left: 5%;
    display: flex;
    justify-content: flex-end;
}

.button1 {
    margin: 0 2%;
}

.button3 {
    /*display: flex;*/
    justify-content: flex-end;
    display: inline;
}

.table-scrool {
    overflow: auto;
}

#message-container,
#error-container {
    margin: 10px;
    padding: 1rem;
    border: 1px solid #e9ecef;
    border-left-width: 0.25rem;
    border-left-color: #5bc0de;
    border-radius: 0.25rem;
}

#error-container {
    color: #dc3545;
    border-left-color: #dc3545;
}

.hidden--visually {
    border: 0;
    clip: rect(0.5px 0.5px 0.5px 0.5px);
    clip: rect(0.5px, 0.5px, 0.5px, 0.5px);
    height: 0.5px;
    margin: -0.5px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.5px;
}

/* ここでデザインの変更 */

.rating__label {
    cursor: pointer;
    color: gray;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.rating__icon::before {
    content: "★";
    font-size: 1rem;
    padding: 0.5rem;
}

.rating__icon_checked::before {
    content: "★";
    font-size: 1rem;
    padding: 0.5rem;
    color: #ffbb00;
}

.rating__input~.rating__label {
    color: lightgray;
}

.rating__input~.rating__label {
    color: #ffbb00;
}

.checked {
    color: #ffbb00;
}

#date {
    color: grey;
}