#header {
    display: flex;
    border: 2px solid black;
}

#header_title {
    margin-left: 50px;
}

.button {
    margin-left: 5%;
    display: flex;
    justify-content: flex-end;
}

.button1 {
    margin: 0 2%;
}

.button3 {
    /*display: flex;*/
    justify-content: flex-end;
    display: inline;
}

.table-scrool {
    overflow: auto;
}

#message-container {
    margin: 10px;
    padding: 1rem;
    border: 1px solid #e9ecef;
    border-left-width: 0.25rem;
    border-left-color: #5bc0de;
    border-radius: 0.25rem;
}