<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="add_page.css">
    <title>add_page</title>
</head>

<body>
    <header>
        <h1>add_page</h1>
    </header>
    <table border="1" align="center">
        <tr>
            <th>課題名</th>
            <td>htmlタグを書く</td>
        </tr>

        <tr>
            <th>締切日</th>
            <td>月日</td>
        </tr>
            
        <tr>
            <th>講義名</th>
            <td>オブジェクト演習</td>
        </tr>

        <tr>
            <th>重要度</th>
            <td>☆☆☆☆☆</td>
        </tr>

        <tr>
            <th colspan="2">詳細（自由メモ）</th>
        </tr>
            <td colspan="2">急ぐ</td>
        <tr>

        </tr>
    </table>
    <div align="right">
        <button type="submit">画像追加</button>
    </div>
    <div align="center">
        <a href="{{url_for('add_data')}}">
            <button type="submit">追加</button>
        </a>
    </div>
</body>

</html>