<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API_test</title>
    <style>
        .input-field {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .input-field label {
            width: 100px;
        }
    </style>
</head>

<body>
    <h1>API_test デバッグ用のページです</h1>
    <h1>データベースにデータを追加するAPIのテストに使用します</h1>
    <div id="main">
        <div class="input-field">
            <label for="title">title:</label>
            <input type="text" id="title">
        </div>
        <div class="input-field">
            <label for="subject">subject:</label>
            <input type="text" id="subject">
        </div>
        <div class="input-field">
            <label for="deadline">deadline:</label>
            <input type="date" id="deadline_date">
            <input type="time" id="deadline_time" style="margin-left: 5px;">
        </div>
        <div class="input-field">
            <label for="memo">memo:</label>
            <input type="text" id="memo">
        </div>

        <button id="post">POST</button>
    </div>
</body>
<script type="module" src="{{url_for('static', filename='js/API_test_DatabaseAdd.js')}}"></script>

</html>