<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="search_page.css">
    <title>search_page</title>
</head>

<body>
    <header>
        <h1>search_page</h1>
    </header>
    <table border="1" align="center">
        <tr>
            <th>課題名</th>
            <td>htmlタグを書く</td>
        </tr>

        <tr>
            <th>締切日</th>
            <td>月日</td>
        </tr>
            
        <tr>
            <th>講義名</th>
            <td>オブジェクト演習</td>
        </tr>

        <tr>
            <th>重要度</th>
            <td>☆☆☆☆☆</td>
        </tr>
            <th>ソート</th>
            <td>
                <input type="radio" name="sort" value="up">昇順
                <input type="radio" name="sort" value="down">降順
            </td>
        <tr>
        
        </tr>
    </table>

    
    <div align="center">
        <button type="submit">検索</button>
    </div>
</body>

</html>