<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/search_page.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.jp/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>

<body>
    <br>
    <div class="button1" align="static">
        <a href="{{url_for('index')}}">
            <button type="button" class="btn btn-secondary">戻る</button>
        </a>
    </div>
    <br>
    <div class="container">
        {# 送信フォーム #}
        <form action="/search_data" method="POST">
            <table align="center" class="table table-sm table-bordered border-secondary table-striped">
                <tr>
                    <th>課題名</th>
                    <td>
                        <input type="text" name="title" placeholder="title">
                    </td>
                </tr>

                <tr>
                    <th>締切日</th>
                    <td>
                        <input type="date" id="limited" name="deadline_date" min="1900-01-01" pattern="\d{4}-\d{2}-\d{2}">
                    </td>
                </tr>

                <tr>
                    <th>講義名</th>
                    <td>
                        <input type="text" name="subject" placeholder="subject">
                    </td>
                </tr>

                <tr>
                    <th>重要度</th>
                    <td>
                        <div class="rating">
                            <input class="rating__input hidden--visually" type="radio" id="5-star" name="star_num"
                                value="5" />
                            <label class="rating__label" for="5-star" title="星5つ"><span class="rating__icon"
                                    aria-hidden="true"></span><span class="hidden--visually">星5つ</span></label>
                            <input class="rating__input hidden--visually" type="radio" id="4-star" name="star_num"
                                value="4" />
                            <label class="rating__label" for="4-star" title="星4つ"><span class="rating__icon"
                                    aria-hidden="true"></span><span class="hidden--visually">星4つ</span></label>
                            <input class="rating__input hidden--visually" type="radio" id="3-star" name="star_num"
                                value="3" />
                            <label class="rating__label" for="3-star" title="星3つ"><span class="rating__icon"
                                    aria-hidden="true"></span><span class="hidden--visually">星3つ</span></label>
                            <input class="rating__input hidden--visually" type="radio" id="2-star" name="star_num"
                                value="2" />
                            <label class="rating__label" for="2-star" title="星2つ"><span class="rating__icon"
                                    aria-hidden="true"></span><span class="hidden--visually">星2つ</span></label>
                            <input class="rating__input hidden--visually" type="radio" id="1-star" name="star_num"
                                value="1" />
                            <label class="rating__label" for="1-star" title="星1つ"><span class="rating__icon"
                                    aria-hidden="true"></span><span class="hidden--visually">星1つ</span></label>
                        </div>
                    </td>
                </tr>
            </table>
            <input type="text" id="required-userID" name="created_by" style="display: none">
            <div align="center">
                <a href="{{ url_for('search_data') }}">
                    <button type="submit" class="btn btn-secondary">検索</button>
                </a>
            </div>
        </form>
    </div>
    <script type="module" src="{{url_for('static', filename='js/insert_user_id.js')}}"></script>
</body>

</html>